@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;1,400&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.title {
    padding: 0.7rem 7rem;
    margin:0;
    color: black;
    font-family: 'Urbanist', sans-serif;
    position: relative;
    top:2rem;
}

.container {
    margin: 0;
    padding: 0;
    display: block;
    width:100%;
}

.container-canvas {
    margin: 0;
    padding-top: 0;
    border: none;
    width: 100%;
    height: max-content;
}

.container-variables {
    margin: 0;
    padding-top: 0;

    width: 30%;
    height: 60%;
}

.container-result {
    /**/border-left: 1px solid black;
    width: 100%;
    padding:1.5rem;
}

#container-split{
    display: grid;
    grid-template-columns: 50% 50%;
}


#canvas {
    border-bottom: 2px solid black;
    margin: 0px auto;
    padding: 0;
    display: block;
}


.control {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.control h6 {
    padding: 0;
    width: 100%;
}

.control button {
    margin-top: 50px;
    margin-left: 50px;
}

#button2 {
    margin-left: 10px;
}
